<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        section{
            margin-bottom: 10px;
            display: block;
        }
        .closed{
            color : red;
            font-style: italic;
            font-weight: bold;
            text-decoration: line-through;
        }
        .stats{
             font-size: 20pt;
        }
        ol{
            width: 60%;
        }
        li{
            list-style: none;
            margin-bottom: 5px;
            border : 1px solid gray;
            background-color: #e7e7e7;
            padding: 5px;
            border-radius: 5px;
        }
        span.bugName{
            cursor: pointer;
        }
    </style>
    <!--
    Use Cases
    =========
    1. Add a new bug - done
    2. Display the list of bugs - done
    3. Toggle the closed status of a bug - done
    4. Remove Closed bugs - done
    5. Display statistics - done
    6. Search for bugs
    7. Sort the bugs
    8. Improve the display of the bug
    9. Persist the bugs in the localStorage
    10. Display 'closedAt'
    11. Persist the bugs in the server
    12. Categorize the bugs and display by category
    -->
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module('bugTrackerApp', []);

        /*bugTrackerApp.value('Bug', function(defaults){
            this.name = defaults.name || '';
            this.isClosed = defaults.isClosed ||false;
            this.toggle = function(){
                this.isClosed = !this.isClosed;
            };
        });*/

        bugTrackerApp.value("defaultBugName", "[Default Bug]");

        bugTrackerApp.factory("Bug", function(defaultBugName){
            function Bug(defaults){
                this.name = defaults.name || defaultBugName;
                this.isClosed = defaults.isClosed ||false;
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            };
            return Bug;
        })

        bugTrackerApp.controller("bugsController", function($scope, Bug){
           $scope.bugs = [
               new Bug({ name : "Data validation error", isClosed : false}),
               new Bug({ name : "Server communication failure", isClosed : true}),
               new Bug({ name : "Ui not responsive", isClosed : false}),
               new Bug({ name : "Unable to add a new bug", isClosed : false}),
           ];
           /*$scope.addNew = function(bugName){
               console.log('new bug -> ', bugName);
               $scope.bugs.push(bugName);
           };*/
           $scope.newBugName= '';
           $scope.addNew = function(){
               var newBug = new Bug({
                   name : $scope.newBugName,
                   isClosed : false
               });
               $scope.bugs.push(newBug);
               $scope.newBugName = '';
           };

           $scope.toggleBug = function(bug){
               //bug.isClosed = !bug.isClosed;
               bug.toggle();
           };

            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            };

            $scope.getClosedCount = function(){
                var result = 0;
                for(var i=0; i<$scope.bugs.length; i++)
                    if ($scope.bugs[i].isClosed)
                        ++result;
                return result;
            }
        });
    </script>
</head>
<body ng-app='bugTrackerApp'>
    <section class="head">
        <h1>Bug Tracker</h1>
    </section>
    <section class="content" ng-controller="bugsController">
        <section class="stats">
            <span class="closed">{{getClosedCount()}}</span>
            <span>/</span>
            <!--<span ng-bind="bugs.length"></span>-->
            <span>{{bugs.length}}</span>
        </section>
        <section class="search">
            <label for="">Search :</label>
            <input type="text" ng-model="searchBug.name">
            <label for="">Is Closed ? :</label>
            <input type="checkbox" ng-model="searchBug.isClosed">
            <input type="button" value="Show All" ng-click="searchBug.isClosed = undefined" ng-hide="searchBug.isClosed == undefined">
        </section>
        <section class="sort">
            <label for="">Order By :</label>
            <input type="text" name="" id="">
            <label for="">Descending ? :</label>
            <input type="checkbox" name="" id="">
        </section>
        <search class="list">
            <label for="">Bug :</label>
            <input type="text" ng-model="newBugName">
            <input type="button" value="Add Bug" ng-click="addNew()">
            <input type="button" value="Remove Closed" ng-click="removeClosed()">
            <ol>
                <li ng-repeat="bug in (bugs | filter:searchBug)">
                    <span
                        class="bugName"
                        ng-class="{closed : bug.isClosed}"
                        ng-click="toggleBug(bug)">
                        {{bug.name}}
                    </span>
                </li>

            </ol>
        </search>
    </section>
</body>
</html>
