<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <style>
        input{
            border : 1px solid black;
        }

        .result{
            font-size: 22pt;
        }
    </style>
    <script src="angular.js"></script>
    <script>
    function MathCalculator(){
        this.number1 = 0;
        this.number2 = 0;
        this.result = 0;
    }
    MathCalculator.prototype.add = function(){
        this.result = this.number1 + this.number2;
    };

    MathCalculator.prototype.subtract = function(){
        this.result = this.number1 - this.number2;
    }

    MathCalculator.prototype.multiply = function(){
        this.result = this.number1 * this.number2;
    }

    MathCalculator.prototype.divide = function(){
        this.result = this.number1 / this.number2;
    }

    var calculatorApp = angular.module("calculatorApp", []);

    calculatorApp.run(function($rootScope){
        $rootScope.appName = 'Calculator App';
    })

    calculatorApp.controller("calculatorController", function($scope ){
        console.log(arguments);
        $scope.calculator = new MathCalculator();
        $scope.operation = '';
        $scope.calculate = function(){
            switch ($scope.operation){
                case 'add' :
                    $scope.calculator.add();
                    break;
                case 'subtract' :
                    $scope.calculator.subtract();
                    break;
                case 'divide' :
                    $scope.calculator.divide();
                    break;
                case 'multiply' :
                    $scope.calculator.multiply();
                    break;
            }
        }
    });
    </script>
</head>
<body ng-app="calculatorApp" ng-controller="calculatorController">
    <h1>Math Calculator</h1>
    <input type="number" ng-model="calculator.number1">
    <select ng-model="operation">
        <option value="add">add</option>
        <option value="subtract">subtract</option>
        <option value="multiply">multiply</option>
        <option value="divide">divide</option>
    </select>
    <input type="number" ng-model="calculator.number2">
    <input type="button" value="Calculate" ng-click="calculate()">
    <div class="result" ng-bind="calculator.result | currency">[Result]</div>
</body>
</html>
